.man{
    color:black;
}
#toTop {
    width:100px;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    font-family:verdana;
    font-size:11px;
    }